<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Trackgenix</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" href="../assets/img/logo.ico">
        <meta name="keywords" content="productivity booster, leadership, resource management, hours log, time control">
        <meta name="description" content="TRACKGENIX is a revolutionary system designed for GigaTech Software Solutions 
        SA">
        <meta name="author" content="GigaTech Software Solutions S.A">
        <meta name="copyright" content="GigaTech Software Solutions S.A">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;
        1,300;1,400;1,500;1,700;1,900&display=swap">
    </head>
</head>
<body>
    <header>
        <div class="header">
            <img class="logo-header" src="../assets/img/logo.ico" alt="logo">
            <h1>
                Trackgenix
            </h1>
            <button class="buttons-navs"><img src="../assets/img/hamburguer-menu.png" alt="hamburguer-menu"></button>
        </div>
    </header>
    <aside class="aside">
        <form>
            <input type="text" class="searchInput" placeholder="Search"/>
        </form>
        <p class="menu-p">
            Menu
        </p>
        <ul>
            <button class="buttons-navs"><li><a href="../views/index.html#home">Home</a></li></button>
            <button class="buttons-navs"><li><a href="../views/sign-up.html">Sign Up</a></li></button>
            <button class="buttons-navs"><li><a href="../views/login.html">Log in</a></li></button>
            <button class="buttons-navs"><li><a href="../views/index.html#contact">Contact Information</a></li></button>
        </ul>
        <div class="aside-img-text">
            <img src="../assets/img/logo.ico" alt="logo" class="logo-aside">
            <p class="developed-p">
                Developed by GigaTech Software Solutions S.A.
            </p>
        </div>
    </aside>
    <main>
        <div class="container">
            <form class="form" id="login">
                <h1 class="form-title">Sign In</h1>
                <div class="form-message form-error"></div>
                <div class="form-input-group">
                    <img src="../assets/img/email.png" alt="email" class="img-input">
                    <input type="text" class="form-input" autofocus>
                    <div class="form-input-error"></div>
                </div>
                <div class="form-input-group">
                    <img src="../assets/img/password.png" alt="password" class="img-input">
                    <input type="text" class="form-input" autofocus>
                    <div class="form-input-error"></div>
                </div>
                <div class="form-group-texts">
                    <p class="form-text">
                        <input type="checkbox"> Remember me.
                    </p>
                    <p class="form-text">Forgot your password?</p>
                </div>
                <p class="form-text">
                    Don't have an account? <a class="form-link" href="../views/sign-up.html" id="linkCreateAccount">
                        Sign up</a>
                </p>
                <div class="continue-button">
                    <button class="form-button buttons-navs" type="submit">Continue</button>
                </div>
            </form>
    </main>
    <footer>
        <article class="redes">
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><img src="../assets/img/facebook.png" 
                    name="facebook" alt="facebook"></a></li>
                <li><a href="https://www.twitter.com" target="_blank"><img src="../assets/img/twitter.png" 
                    name="twitter" alt="twitter"></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><img src="../assets/img/insta.png" 
                    name="instagram" alt="instagram"></a></li>
                <li><a href="https://www.linkedin.com" target="_blank"><img src="../assets/img/linkedin.png" 
                    name="linkedin" alt="linkedin"></a></li>
            </ul>
        </article>
        <article class="copyright">
            <p class="copy-p1">
                Rosario, Argentina
            </p>
            <p class="copy-p2">
                Copyright &copy 2022 Gigatech Software Solutions. All rights reserved.
            </p>
        </article>
    </footer>
</body>
</html>