body{
    font-family: "Roboto", sans-serif;
}
.header {
    position: fixed;
    width: 1512px;
    height: 92px;
    background-color: #373867;
    z-index: 10;
}
.header img{
    padding: 12px 26px;
    width: 60px;
    height: 65px;
}
.header h1{
    position: absolute;
    left: 573px;
    top: 9px;
    color: #479679;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}
.buttons-navs{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.nav .nav-bar{
    position: fixed;
    margin: 91px 0 0 252px;
    width: 1255px;
    z-index: 15;
    background-color: #373867;
    border: 2px solid #000;
}
.nav .nav-bar ul li{
    width: 203px;
    height: 55px;
    border-left: 2px solid #000;
}
.nav .nav-bar ul li a{
    position: relative;
    top: 17px;
    color: #479679;
    text-decoration: none;
    font-size: 20px;
}
#second-child a{
    top: 6px;
}
.nav .nav-bar ul li a:hover{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.6),
                -1px -1px 0 #fff,
                0   -1px 0 #fff,
                1px -1px 0 #fff,
                1px  0   0 #fff,
                1px  1px 0 #fff,
                0    1px 0 #fff,
                -1px  1px 0 #fff,
                -1px  0   0 #fff;
}
.aside .aside-bar{
    position: fixed;
    width: 253px;
    height: 100%;
    background-color: #EBECF0;
    margin-top: 91px;
    z-index: 50;
}
.aside input{
    width: 236px;
    height: 30.49px;
    margin-left: 8px;
    margin-top: 21px;
    background: #FFFFFF;
    border-radius: 3.418px;
}
.aside .aside-bar form .buttons-navs{
    position: absolute;
    top: 31.25px;
    right: 25.24px;
    color: #373867;
    opacity: 0.5;
}
.aside .aside-bar .menu-p{
    position: absolute;
    margin-left: 92px;
    margin-top: 17.51px;
    font-weight: 700;
    font-size: 19.3686px;
    color: #373867;
}
.aside-bar ul{
    margin: 62px 45px 0;
}
.aside-bar ul li{
    width: 142px;
    height: 46px;
    border-bottom: 1px solid #000;
}
.aside-bar ul li a{
    position: relative;
    top: 15px;
    color: #479679;
    text-decoration: none;
    font-size: 16px;
}
.aside .aside-bar ul li a:hover{
    text-shadow: 0px 1px 3px rgba(0,0,0,0.2),
                -1px -1px 0 #fff,
                0   -1px 0 #fff,
                1px -1px 0 #fff,
                1px  0   0 #fff,
                1px  1px 0 #fff,
                0    1px 0 #fff,
                -1px  1px 0 #fff,
                -1px  0   0 #fff;
}
.aside .developed-p{
    position: absolute;
    width: 236px;
    height: 13px;
    left: 12px;
    top: 710px;
    font-weight: 400;
    font-size: 11px;
}
.aside .logo-aside{
    position: absolute;
    width: 66px;
    height: 70px;
    top: 609px;
    left: 95px;
}
main{
    position: relative;
    left: 253px;
    width: 1259px;
    z-index: 2;
}
.sections{
    border-bottom: 2px solid #000;
}
#home {
    position: relative;
    top: 150px;
    height: 940px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229,
     242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    scroll-margin-top: 200px;
}
#home h2 {
    position: relative;
    display: inline-block;
    left: 470.47px;
    margin: 48px 0;
    padding: 13px 38px;
    background-color: #C9E2C8;
    border: 4px solid #606765;
    border-radius: 20px;
    color: #373867;
    text-align: center;
    font-size: 49.36px;
    text-transform: uppercase;
}
#home .welcome-p-1{
    position: absolute;
    top: 281px;
    left: 134px;
    width: 546px;
    color: #373867;
    font-size: 28.25px;
    line-height: 41px;
    letter-spacing: 1px;
}
#home .welcome-p-2{
    position: absolute;
    top: 400px;
    left: 134px;
    width: 546px;
    color: #373867;
    font-size: 28.25px;
    line-height: 41px;
    letter-spacing: 1px;
}
#home img {
    position: absolute;
    width: 500px;
    height: 272.5px;
    top: 257.56px;
    left: 724.8px;
}
#features {
    position: relative;
    top: 135px;
    height: 1124px;
    scroll-margin-top: 200px;
}
#features h3 {
    margin: 0 0 49px 100px;
    color: #373867;
    font-weight: 700;
    font-size: 40px;
}
.features-options {
    display: inline-block;
    width: 592px;
    height: 350px;
    text-align: center;
}
.features-options h4 {
    margin-bottom: 24px;
    text-align: center;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.features-options img {
    padding: 12px;
    width: 232px;
    height: 232px;
    background-color: #aace9b4d;
    border-radius: 20px;
}
#reasons {
    position: relative;
    top: 135px;
    height: 1016px;
    scroll-margin-top: 200px;
}
#reasons h3 {
    margin: 0 0 0 296px;
    color: #373867;
    font-weight: 700;
    font-size: 40px;
}
#reasons article{
    display: inline-block;
    margin: 100px 0 0 90px;
    width: 480px;
    height: 150px; 
}
.reasons-options{
    display: inline-block;
    width: 50%;
}
.reasons-options img{
    height: 118px;
    background-color: #aace9b4d;
}
.reasons-options h4 {
    margin: 0 0 0 28px;
    width: 297px;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.reasons-options p{
    margin: 41px 0 0 50px; 
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    width: 355px;
}
#contact {
    position: relative;
    top: 47px;
    height: 981px;
    scroll-margin-top: 200px;
}
#contact h3 {
    margin: 0 0 0 76px;
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
}
#contact form{
    display: block;
    margin-top: 70px;
    margin-left: 83px;
}
#contact .texts{
    width: 554px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}
#contact .contact-area{
    width: 1125px;
    height: 37px;
    margin-top: 20px;
    border: 1px solid #373867;
    border-radius: 4px;
    background: url("C:/Users/nicol/Desktop/Proyectos/BaSP-A2022-Etapa-1/Semana-03/assets/img/arrow-down.png")no-repeat;
    background-position: calc(100% - 0.75rem) center;
    -moz-appearance:none;
    -webkit-appearance: none; 
    appearance: none;
}
.check{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 187px 0 0 30px;
}
.check input { 
    margin-left: 11px;
    width: 0;
    height: 0;
    margin-right: 20px;
    opacity: 0;
}
#human-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}
#email-text{
    margin-right: 495px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #373867;
} 
input:focus + .slider {
    box-shadow: 0 0 1px #373867;
} 
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} 
.slider.round {
    border-radius: 34px;
} 
.slider.round:before {
    border-radius: 50%;
}
.text-area{
    display: block;
    margin: 30px 0 13px 5.5px;
    font-family: 'K2D';
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
}
#form-message{
    height: 323px;
    width: 1116px;
    left: 0px;
    top: 80px;
    border-radius: 4px;
    resize: none;
}
#send-button{
    display: inline-block;
    margin: 25px 0 0 1020px;
    padding: 15px 32px;
    background-color: #479679;
    text-align: center;
    font-size: 16px;
    color: white;
}
            
footer{
    margin-left: 340px;
}