.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 91px;
    background-color: #373867;
    z-index: 10;
}
.header h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.88rem;
    color: #479679;
}
.header .logo-header{
    width: 60px;
    height: 65px;
    padding: 12px 6px;
}
.header button img{
    padding: 24px 22px 24px 0;
}
.nav .nav-bar{
    position: fixed;
    background-color: #373867;
    margin: 91px 0 0 255px;
    width: 100%;
    border: 2px solid #000;
    z-index: 15;
}
.nav .nav-bar ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.nav .nav-bar ul li{
    padding: 15px 0;
    border-left: 0 solid #000;
}
.nav .nav-bar ul li a{
    color: #479679;
    text-decoration: none;
    padding: 0 80px;
    font-size: 20px;
}
.nav .nav-bar ul li{
    width: 203px;
    height: 55px;

}
.nav .nav-bar ul li a{
    position: relative;
    top: 17px;
    color: #479679;
    text-decoration: none;
    font-size: 20px;
}
#second-child a{
    top: 6px;
}
.nav .nav-bar ul li a:hover{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.6),
                -1px -1px 0 #fff,
                0   -1px 0 #fff,
                1px -1px 0 #fff,
                1px  0   0 #fff,
                1px  1px 0 #fff,
                0    1px 0 #fff,
                -1px  1px 0 #fff,
                -1px  0   0 #fff;
}

@media only screen and (max-width: 768px){
    .nav{
        display: none;
    }
}