.home-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 91px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229,
     242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    scroll-margin-top: 200px;
}
.home-section h2{
    padding: 9px 23px;
    font-size: 2.42rem;
}
.welcome-background{
    width: 241px;
    height: 63px;
    margin-top: 27px;
    background: rgba(170, 206, 155, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
}
.welcome-image-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 2rem;
}
.img-text{
    padding: clamp(0rem, 50%, 1rem);
}
.home-section p{
    width: clamp(324px, 50%, 470px);
    margin-top: 43px;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 0.02em;
}
.home-section img{
    width: clamp(311px, 50%, 500px);
    height: clamp(139px, 50%, 272px);
    margin-top: 63px;
}
.features-section{
    margin-top: 72px;
    scroll-margin-top: 200px;
}
.features-section h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.25rem;
}
.features-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}
.features-options h4{
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    padding: 1rem;
}
.features-options{
    width: clamp(100px, calc(50% - 5rem),240px);
}
.features-row img{
    width: 100%;
    padding: 12px;
}
.reasons-section{
    margin-top: 60px;
    scroll-margin-top: 200px;
}
.reasons-section h3{
    margin-top: 63px;
    font-size: 1.88rem;
    text-align: center;
    font-weight: 700;
}
.reasons-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 77px;
}
.reasons-options{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: clamp(357px, 50%, 553px);
}
.reasons-options img{
    width: clamp(100px, 30%, 150px);
    height: clamp(100px, 30%, 150px);
    align-self: center;
}
.reasons-options div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: clamp(200px, 70%, 300px);
}
.reasons-options h4{
    width: 318px;
    font-size: 1.60rem;
    font-weight: 700;
    line-height: 35px;
}
.reasons-options p{
    margin: 12px 44px 0 0;
    font-size: 0.78rem;
    line-height: 23px;
    width: 242px;
}
.contact-form {
    margin-top: 47px;
    scroll-margin-top: 200px;
}
.contact-form h3 {
    margin-left: 44px;
    color: #000;
    font-size: 1.5rem;
    line-height: 28px;
    text-decoration: underline;
}
.contact-form form{
    margin: 27px 10px 0 10px;
}
.contact-form .texts{
    width: clamp(358px, 50%, 573px);
    margin-top: 20px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}
.contact-form .contact-area{
    width: clamp(348px, 98%, 1600px);
    height: 37px;
    margin: 20px 0 100px 0;
    border: 1px solid #373867;
    border-radius: 4px;
}
.check{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.75rem;
    line-height: 14px;
    color: #000;
}
.text-area{
    display: block;
    margin: 30px 0 13px 5.5px;
    font-family: 'K2D';
    font-weight: 800;
    line-height: 38px;
}
#form-message{
    height: 350px;
    width: clamp(346px, 98%, 1185px);
    top: 80px;
    border-radius: 4px;
    resize: none;
}
.send-button{
    display: flex;
    justify-content: center;
}
#send-button{
    margin: 25px 0;
    padding: 15px 32px;
    background-color: #479679;
    text-align: center;
    font-size: 16px;
    color: white;
}
.history-section{
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229,
     242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
    scroll-margin-top: 200px;
}
.history-section h3{
    width: 202px;
    height: 30px;
    margin: 41px 0 15px 20px;
    font-size: 1.414rem;
    line-height: 24px;
    text-decoration: underline;
}
.history-logo{
    width: 112px;
    height: 128px;
    margin: 40px 15px 0 0;
}
.comp-mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h4-mission{
    display: inline-block;
    margin: 20px 0 0 10px;
    font-size: 1.48rem;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
}
#mission-1{
    text-decoration-color: #8FD5C8;
}
#mission-2{
    text-decoration-color: #373867; 
}
.mission-p1{
    width: clamp(365px, 50%, 535px);
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 57px;
    text-align: center;
    color: #151515;
}
.mission-p2{
    margin-top: 15px;
}
.mission-p2{
    width: clamp(362px, 50%, 1209px);
    font-size: 1.172rem;
    line-height: 26px;
    text-align: center;
    color: #1C1C37;
}
.mission-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.say-about-us-h4{
    width: 609px;
    width: clamp(450px, 50%, 609px);
    margin: 43px 0 0 8px;
    font-weight: 600;
    font-size: 1.711rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.customer-p{
    width: clamp(323px, 94%, 1134px);
    height: 21px;
    padding: 20px 0 0 11px;
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
    font-weight: 400;
    font-size: 1.08rem;
    line-height: 20px;
}
.customer{
    width: clamp(364px, 98%, 1240px);
    height: 110px;
    margin-left: 16px;
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5.98712px;
}
.about-us-h4{
    margin: 88px 0 0 21px;
    font-size: 24px;
}
.about-us-p{
    width: clamp(322px, 70%, 769px);
    margin: 40px 0 15px 49px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.history-image{
    box-sizing: border-box;
    width: 363px;
    height: 251px;
    margin-bottom: 20px;
    border: 0.43px solid #000000;
    box-shadow: inset 0px 3.42121px 6.84243px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 3.42121px 4.27652px rgba(0, 0, 0, 0.25));
}
.about-us-img-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#products {
    position: relative;
    top: 95px;
    height: 1376px;
    scroll-margin-top: 200px;
    font-family: 'Inter';
    color: #000000;
}
.products-options img {
    padding: 12px;
    width: 384px;
    height: 284px;
    border-radius: 20px;
}
#products h3 {
    width: 195px;
    height: 36px;
    margin: 0 0 42px 75px;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline;
}
.products-options {
    display: inline-block;
    width: 592px;
    height: 350px;
    text-align: center;
}
.products-options h4 {
    margin: 0 0 24px 135px;
    width: 324px;
    height: 60px;
    font-size: 24.4762px;
    line-height: 30px;
    text-align: start;
}
.products-options p{
    width: 324px;
    height: 72px;
    padding-left: 135px;
    font-weight: 400;
    font-size: 14.75px;
    line-height: 18px;
    text-align: start;
}
.products-options ul{
    width: 324px;
    padding-left: 165px; 
    height: 88px;
    font-weight: 400;
    font-size: 14.75px;
    line-height: 18px;
    text-align: start;
    list-style: disc;
}
#about-us{
    position: relative;
    top: 49px;
    height: 1273px;
    scroll-margin-top: 200px;
}
#about-us h3 {
    margin: 0 0 94px 100px;
    font-size: 30px;
    text-decoration: underline;
}
.about-us-options {
    width: 592px;
    height: 350px;
    margin-left: 64px;
}
.about-us-options h4 {
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 24px;
    font-family: 'Inter';
    font-size: 26px;
    line-height: 31px;
}
.about-us-options p{
    position: absolute;
    display: inline-block;
    margin: 75px 0 0 435px;
    width: 507px;
    left: 148px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
}
.about-us-options img {
    box-sizing: border-box;
    width: 477px;
    height: 304px;
    border: 0.35px solid #000000;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
#second-option .p-1{
    margin: 75px 0 0 0px;
    width: 540px;
    left: 106px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}
#second-option .p-2{
    margin: 125px 0 0 0px;
    width: 540px;
    left: 107px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}
#second-option img{
    position: absolute;
    margin-left: 600px;
}
#second-option h4{
    margin-left: 178px;
}
#support{
    position: relative;
    top: 126px;
    height: 981px;
    scroll-margin-top: 200px;
}
.support-title{
    width: 195px;
    height: 36px;
    margin: 0 0 42px 94px;
    font-family: 'Inter';
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline;
}
.support-options {
    display: inline-block;
    width: 592px;
    text-align: center;
}
.support-options img {
    width: 460px;
    height: 288px;
    padding: 12px;
    margin: 0 0 37px 64px;
    border-radius: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
.support-options p{
    position: absolute;
    margin: 0 0 0 92px;
    width: 448px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
}
#support .tutorial-videos h3{
    width: 147px;
    height: 27px;
    margin: 74px 0 0 94px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 34px;
    line-height: 41px;
}
.tutorial-videos ol{
    margin: 49px 0 0 105px;
    list-style: decimal;
    font-family: 'Inter';
    font-style: italic;
    font-size: 26px;
    line-height: 31px;
}
.videos-titles{
    display: inline-block;
    width: 66%;
}
.videos-minutes{
    display: inline-block;
    width: 25%;
    color: #1D22EC;
    text-align: end;
}
.button-youtube{
    width: 480px;
    height: 116px;
    margin: 143px 0 0 389px;
    background: #98220D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
    border-radius: 30px;
}
#button-youtube{
    position: absolute;
    width: 423px;
    height: 34px;
    top: 929px;
    left: 421px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 26px;
    line-height: 31px;
    color: #fff;
}


@media only screen and (min-width: 768px){
    main{
        margin-left: 253px;
        margin-top: 155px;
    }
}